/**{
    box-sizing: border-box;
}*/

body{
    margin:0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background:#f5f7fb;
}

.login-page{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:30px;
}

.login-card{
    /*width:100%;*/
    max-width:420px;
    background:white;
    padding:40px;
    border-radius:18px;
    box-shadow:0 15px 40px rgba(0,0,0,.12);
}

.login-title{
    text-align:center;
    font-size:30px;
    margin-bottom:8px;
    color:#222;
}

.login-subtitle{
    text-align:center;
    color:#777;
    margin-bottom:30px;
}

.login-form{
    display:flex;
    flex-direction:column;
    gap:18px;
}

.input-group{
    display:flex;
    flex-direction:column;
    gap:7px;
}

.input-group label{
    font-weight:600;
    color:#444;
}

.input-group input{
    padding:14px;
    border:1px solid #d8d8d8;
    border-radius:10px;
    font-size:16px;
    transition:.2s;
}

.input-group input:focus{
    outline:none;
    border-color:#4f46e5;
    
}

.submit-btn{
    margin-top:10px;
    padding:15px;
    border:none;
    border-radius:10px;
    background:#4f46e5;
    color:white;
    font-size:17px;
    font-weight:bold;
    cursor:pointer;
    transition:.2s;
}

.submit-btn:hover{
    background:#4338ca;
}

.terms{
    margin-top:25px;
    text-align:center;
    font-size:13px;
    color:#666;
    line-height:1.5;
}

.terms strong{
    color:#4f46e5;
    cursor:pointer;
}

/*@media (max-width:500px){

    .login-card{
        padding:25px;
    }

    .login-title{
        font-size:1.7rem;
    }

}*/