.y{display: flex;
gap:100px}

.sidebar{width: '20%';
    padding:20px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.navlink{margin-top: 50px ;}
.menuproducts{
width:'80%';
padding: '20px'
}

img{width: 200px;
height: 200px;}
.foodsgallery{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 20px;

}
.foodcard{
border-radius: 8px;
border:5px bisque solid;
padding: 10px;

}