.y{display: flex;
gap:100px}

.sidebar{width: '20%';
    padding:20px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.navlink{margin-top: 50px ;}
.menuproducts{
width:'80%';
padding: '20px'
}

.foodsgallery{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 20px;

}