.Nav{
    background-color: #ffffff;
    border-bottom: 1px solid #e2e8f0;
     border-bottom-width: 2.5px;
    display: flex;
    align-items: center;
    padding: 15px 5%;
    justify-content: space-between;
    box-shadow:0 4px 12px rgba(0,0,0,0.03);
}
nav-links a{font-size: 1.05rem;
font-weight: 600;
padding-left: 6px 12px;
transition: color 0.3s ease;}


nav-links a:hover{color:#ff6b35}
.logo-container {
    display: flex;
    flex-direction: column;
    line-height: 1.1;
}

.logo-main {
    font-size: 1.8rem;
    font-weight: 800;
    color: #1a202c;
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
}

.logo-sub {
    font-size: 0.85rem;
    font-weight: 600;
    color: #ff6b35; 
    letter-spacing: 1px;
}


.nav-links {
    display: flex;
    gap: 15px;
}